*~
*.aux
*.log
*.out
*.csv
*/cache
*cache
*.nav
*.snm
*.toc
*.blg
*.bbl
*.bst
*.md
*.html
*.RData
*.dat
*.zip
*.DS_Store
*.gz
*.job
*.history
*.fls
*.fdb_latexmk
*.xdv
*.bcf
*.xml
data/hk/hk_rct/*.pkl
models/*
old_models/*
*.tsv
*.pdf
*.Rmd
*.tex
*.bib
papers/*
plots/*